
.title{
  text-align: center;
  font-size: 64px;
  border-bottom: 2px solid #777;
}

header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.table-home{
  width: 100%;
  margin: 0 auto;
}

.table-home table{
  width: 100%;
}

.hover:hover{
  background-color: #333;
  transition: .2s ease;
}

.bg-1{
  background-color: #333;
}

.bg-2{
  background-color: #555;
}
.pointer{
  cursor: pointer;
}

.d-none{
  display: none;
}

.loading{
  font-size: 64px;
  text-align: center;
  font-weight: bold;
}

footer{
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.links-btn{
  color: #f2f2f2;
  transition: .3s ease;
  border: 1px solid #e3e3e3;
  padding: 7px 30px;
  border-radius: 10px;
  background: transparent;
  font-size: 20px;
}

.links-btn:hover{
  color: #333;
  background: #f2f2f2;
}